<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.FootprintMapper">
    <select id="listFootprint" resultType="xmu.oomall.domain.FootprintItemPo">
        select id,
               user_id,
               goods_id,
               birth_time
        from(
            select id, user_id, goods_id, birth_time
            from oomall_footprint_item
            <where>
                <if test="userId != null">
                    user_id=#{userId}
                </if>
                <if test="goodsId != null">
                    and goods_id=#{goodsId}
                </if>
                <if test="userId == null and goodsId == null">
                    1
                </if>
            </where>
            order by birth_time DESC, id DESC) as t
        limit #{start},#{limit}
    </select>
    <select id="getFootprintByExample" resultType="xmu.oomall.domain.FootprintItemPo">
        select id,
               user_id,
               goods_id,
               birth_time
        from oomall_footprint_item
        where user_id=#{userId} and goods_id=#{goodsId}
    </select>
    <insert id="insertFootprintItem" parameterType="xmu.oomall.domain.FootprintItemPo" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="Integer" order="AFTER" keyProperty="footprintItem.id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into oomall_footprint_item(gmt_create,birth_time,user_id,goods_id)
        values(#{footprintItem.gmtCreate},#{footprintItem.birthTime},#{footprintItem.userId},#{footprintItem.goodsId})
    </insert>
    <update id="updateFootprintItem" parameterType="xmu.oomall.domain.FootprintItemPo">
        update oomall_footprint_item set
            birth_time=#{footprintItem.birthTime}
        where id=#{footprintItem.id}
    </update>
    <delete id="deleteFootprintById" parameterType="Integer">
        delete from oomall_footprint_item
        where id=#{id}
    </delete>
</mapper>